@reference "tailwindcss";

.movie {
  @apply text-white w-full;

  &__title {
    @apply block font-semibold mb-1 overflow-hidden text-base text-ellipsis;

    color: #e5e5e5;
    line-height: 20px;
    white-space: nowrap;
  }

  &__subtitle {
    @apply block text-sm;
    color: #929292;
  }

  &__rating {
    @apply absolute font-bold top-0 right-0;

    background-color: rgba(30, 35, 43, 0.8);
    color: #e5e5e5;
    padding: 6px 12px;
  }

  &__poster {
    @apply bg-white h-fit mb-3 relative w-full;
  }

  &__hover {
    @apply absolute duration-300 ease-in flex flex-col h-full items-center justify-evenly transition-all w-full;
    @apply top-0 left-0 opacity-0 hover:opacity-100;

    background-color: rgba(0, 0, 0, 0.8);

    &-rating {
      @apply flex font-semibold items-center text-2xl;

      > * {
        @apply w-auto h-auto;
      }
    }
  }

  &__button-text {
    @apply font-bold uppercase;
  }
}
