@reference "tailwindcss";

.backdrop {
  opacity: 0.2;
  background-size: cover;
  height: 810px;
}

.detail {
  @apply flex justify-center p-6;

  margin-top: 66px;

  &__poster {
    @apply bg-white md:mr-8;
  }

  &__layout {
    @apply flex flex-col md:flex-row text-white w-full;

    max-width: 1280px;
  }

  &__content {
    @apply flex flex-col justify-evenly grow w-full;
  }

  &__info {
    @apply pt-4 pb-8;
  }

  &__title {
    @apply font-semibold text-4xl;
  }

  &__subtitle {
    @apply font-medium text-lg;
  }

  &__genre {
    @apply font-medium text-sm;
  }
}

.overview {
  &__title {
    @apply block font-semibold mb-2 text-sm text-red-500 uppercase;
  }

  &__content {
    @apply text-sm;
  }
}
