@reference "tailwindcss";

.search {
  @apply hidden lg:flex items-center rounded-sm;

  background-color: rgba(0, 0, 0, 0.13);
  margin: 0 42px;
  padding: 8px 12px;
  width: 571px;

  &__button {
    @apply p-1 mr-3 lg:hidden;
  }

  &__input {
    @apply w-full;

    padding: 0 12px;

    &::placeholder {
      color: rgba(229, 229, 229, 1);
    }
  }
}
